{
  "extends": "rallycoding",
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "no-useless-concat": "off",
    "no-confusing-arrow": "off"
  }
}
